/.gradle/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/.classpath
/.project
/Build.bat
/build.gradle
/CREDITS-fml.txt
/forge-1.7.2-10.12.2.1147-changelog.txt
/gradlew
/gradlew.bat
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt